/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* utilities */

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}